


body {
    background: black;
    font-family: 'Source Sans Pro';
    width: 100%;  
    padding-left: 220px;
    margin: 40px;
    
}

.font {
    background: #fff;
    float: left;
    width: 70%;
    height: 700px;
    border-radius: 50px;
    padding-top: 90px;
}

.container {
        display: block;
        background: lightblue;
        width: 30%;
        padding-bottom: 200px;
        border: 2px solid burlywood;
        border-radius: 50px;
        margin: auto;
        
        
}

.head {
    background: url(../images/Utchiha.png) no-repeat center;
    display: block;
    margin: auto;
    width: 70%;
    height: 180px;
}
